* {
	font-family: consolas, 微软雅黑, simsun,;
	margin:0;
	padding:0;
	line-height: 1.65;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html {
	line-height:1.65;
}

@media (min-widht:58em){
	html {
		font-size:18px;
	}
}
	
@media (min-width:48em){
	html {
		font-size:16px;
	}
}
	
a {
	text-decoration:none;
}

ul,li {
	list-style: none;
}

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}